.container {
    &:after {
        content: "";
        background: url("../../assets/street.jpg") center center / cover no-repeat;
        filter: grayscale(1) blur(1px);
        transform: scale(1.1);
        height: 95vh;
        width: 100vw;
        position: absolute;
        top: 0;
        z-index: -1;
    }
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: $spacing-07;
    padding-bottom: 9vw;
    text-align: center;
    // padding-bottom: $spacing-07 * 4;
}

.banner .heading {
    @include carbon--type-style("productive-heading-05");
}

.bx--tabs--scrollable {
    // padding-top: $spacing-08 * 15;
    width: 100%;
    justify-content: center;
}

.tab-content {
    display: flex;
    justify-content: center;
}

.markers-legend {
    position: relative;
    background: white;
    height: 10vh;
    width: 50vw;
}