.container {
    display: flex;
}

.banner {
    flex: 1;
    background: url("../../assets/street.jpg") center center / cover no-repeat;
    @media (max-width: 1056px) {
        // --columns: 1;
        display: none;
    }
}

.heading {
    @include carbon--type-style("productive-heading-06");
    text-align: center;
}

.bx--tabs--scrollable {
    padding-top: $spacing-08;
    width: 100%;
    justify-content: center;
}

.tab-content {
    display: flex;
    justify-content: center;
}

.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.markers-legend {
    padding-top: $spacing-08;
    position: relative;
    // height: 10vh;
}

.marker-box {
    // font-family: "IBM Plex Serif", "Georgia", Times, serif;
    @include carbon--type-style("label-01");
    display: flex;
    align-items: center;
}

.marker-desc {
    padding-left: 1rem;
}