.login-container {
    display: flex;
    height: calc(100vh - var(--header-height));
}

.login-left {
    flex: 1;
    padding: 3rem 5vw 0;
}

.login-right {
    flex: 1;
    @media (max-width: 1056px) {
        display: none;
    }
}

.login-left .bx--btn--primary {
    margin-top: $spacing-08 !important;
}